body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    width: 80%;
    margin: 50px auto;
    background-color: #DFD0B8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box h1 {
    text-align: center;
}

.box-label {
    margin-top: 20px;
    margin-bottom: 10px;
}

.box input {
    margin-left: 10px;
}

.submit {
    background-color: #153448;
    color: white;
    padding: 10px 27px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #3C5B6F; 
}
